<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vicky Bhagat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>


  <nav>
    <h1>Vicky Bhagat</h1>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('projects') }}">Projects</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('static', filename='resume/Vicky_Bhagat_Resume.pdf') }}" target="_blank">Resume</a></li>
    </ul>
  </nav>

  
  <header class="hero">
    <div class="container">
      <h2>Hi, I'm Vicky Bhagat</h2>
      <p>I build clean and useful web tools using Flask.</p>
    </div>
  </header>

  
  <section class="about">
    <div class="container">
      <h2>About Me</h2>
      <p>I am a passionate developer with experience in web development using Flask and PHP. I love building clean, responsive web applications.</p>
    </div>
  </section>

</body>
</html>
